size(w, h=w)
	width w
	height h

*
	color #fff
	margin 0
	padding 0
	box-sizing border-box
	font-family 'Open Sans', Arial, sans-serif

header,content,footer
	display block

body
	background-color #092756

#wrapper
	height 100vh
	margin 0 auto
	display flex
	flex-direction column
	justify-content space-between

header
	line-height 20vh
	text-align center

	h1 
		font-size 12vh