doctype
html
	block head
		head
			title= title
			meta(charset='utf-8')
			link(rel='stylesheet' href='styles/base.css')
	block body
		body
			div#wrapper
				include head
				include header
				include loginForm
				include footer